PORT=4000

# Use local MongoDB for local development.
MONGODB_URI=mongodb://localhost:27017/gradual-chat

# Use MongoDB Atlas instead.
# MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/gradual-chat?retryWrites=true&w=majority
